* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Open Sans, Verdana, Geneva, Tahoma, sans-serif;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

/* header */

header {
    height: 100px;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3;
}

nav {
    height: 100%;
    line-height: 100px;
    text-align: center;
}

.nav-left li:hover {
    border-bottom: 2px solid black;
}

.nav-left li {
    list-style-type: none;
    display: inline;
    margin-right: 30px;
}

.nav-right li {
    list-style-type: none;
    display: inline;
    margin-right: 30px;
}

.button-nav {
    background-color: #0061ff;
    color: white;
    padding: 5px 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

/* jumbo */

.jumbo {
    width: 100%;
    height: 800px;
    margin-top: 100px;
    background-color: #b4d0e7;
    position: relative;
}

.container-jumbo {
    width: 90%;
    height: 700px;
    margin: 50px auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.jumbo h1 {
    font-size: 95px;
    font-weight: 700;
}

.jumbo p {
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.jumbo-img {
    width: 70%;
}

.jumbo-img img {
    width: 80%;
    margin-top: 30px;
    margin-left: 100px;
}

.button-jumbo {
    background-color: #0061ff;
    color: white;
    padding: 7px 20px;
}

.jumbo a {
    text-decoration: none;
}

#paragraph-down {
    font-size: 13px;
    margin: 10px 0;
}

.arrow img {
    height: 50px;
    height: 50px;
    margin-top: 30px;
}

/* abbonamenti */

.container-abbonamenti {
    margin: 0 auto;
    width: 70%;
}

.container-abbonamenti h1 {
    font-size: 40px;
    font-weight: 700;
    margin-top: 250px;
}

.radio-button {
    margin-top: 50px;
    font-weight: 600;
}

.radio-button label {
    margin-right: 20px;
}

.piani-abbonamenti {
    width: 100%;
    height: auto;
    margin-top: 40px;
}

.col-style {
    width: 30%;
    height: 1100px;
    border: 1px solid grey;
}

.top-col {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid grey;
}

.top-col img {
   width: 20px;
   height: 20px;
}

.top-col span {
    font-weight: 600;
}

.container-colonna {
    width: 90%;
    margin: 40px auto;
}

.container-colonna h2 {
    font-size: 28px;
    font-weight: 700;
}

.container-colonna h3 {
    margin: 10px 0;
    font-size: 16px;
    font-weight: 800;
}

.container-colonna p {
    color: gray;
    font-weight: 600;
    margin-bottom: 50px;
}

.details img {
    width: 15px;
    height: 15px;
}

.details {
    margin-bottom: 30px;
}

.details span {
    font-weight: 600;
    text-align: left;
}

.icone {
    width: 5%;
}

.icone-dettaglio {
    width: 95%;
}

.button-col {
    background-color: #0061ff;
    color: white;
    padding: 10px 90px;
}

.container-colonna a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.prova-gratis {
    margin: 40px auto;
    text-align: center;
}

.link-acquisto {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 40px;
}

.link-acquisto a {
    color: #0061ff;
    text-decoration: underline;
}

hr {
    width: 15%;
    opacity: 0.5;
    margin-bottom: 50px;
}

.container-colonna li {
    font-size: 14px;
    font-weight: 600;
    list-style-type: none;
    margin-bottom: 40px;
}

.container-colonna ul {
    margin-top: 30px;
}

.container-colonna ul span {
    color: #0061ff;
    font-weight: 600;
}

/* seconda colonna */

.col-mid {
    margin: 0 5%;
}

/* enterprise */

.enterprise {
    width: 100%;
    height: 300px;
    border: 1px solid gray;
    margin-top: 50px;
    margin-bottom: 150px;
}

.enterprise .container-colonna {
    position: relative;
}

.top-enterprise {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid grey;
}

.top-enterprise img {
    width: 20px;
    height: 20px;
 }
 
 .top-enterprise span {
     font-weight: 600;
 }

 .enterprise .container-colonna h2 {
    font-size: 28px;
    font-weight: 700;
 }

 .enterprise .container-colonna h3 {
    font-size: 16px;
    font-weight: 800;
    margin: 30px 0 50px 0;
}

.enterprise .container-colonna p {
    font-size: 14px;
    color: black;
    font-weight: 600;
}

.button-entreprise, .button-col {
    position: absolute;
    top: 0px;
    right: 0px;
}

/* partner */

.partner-img {
    width: 50%;
}

.partner-img img {
   width: 100%;
}

.partner-txt {
    width: 40%;
    margin-right: 50px;
}

.partner-txt h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 25px;
}

.partner-txt p {
    line-height: 30px;
}

.partner-txt {
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.button-partner {
    margin-top: 40px;
}

.button-partner a {
    text-decoration: none;
    color: black;
    padding: 10px 25px;
    border: 1px solid black;
}

/* Dropbox Business */

.container-business {
    margin: 0 auto;
    width: 70%;
    padding: 50px;
}

.container-business h1 {
    font-size: 40px;
    font-weight: 700;
    margin-top: 100px;
}

.row {
    margin-top: 50px;
    margin-bottom: 100px;
}

.row h2 {
    font-size: 28px;
    font-weight: 700;
}

.row p {
    margin-top: 30px;
    font-weight: 600;
    line-height: 25px;
}

.side-grid {
    width: 30%;
}

.mid-grid {
    width: 30%;
    margin: 0 5%;
}

.business-img {
    width: 100%;
    height: 50%;
}

.business-img img {
    width: 100%;
}

.grid-txt {
    width: 100%;
    height: 50%;
}

/* sezione teams */

.container-team {
    margin: 0 auto;
    width: 70%;
}

.container-small {
    width: 50%;
}

.container-team h1 {
    text-align: left;
    font-size: 38px;
    font-weight: 700;
}

.container-team a {
    text-decoration: underline;
    color: #0061ff;
}

.container-team p {
    margin: 50px 0;
}

.container-big {
    width: 100%;
    height: 500px;
}

.teams-logo {
    width: 30%;
    height: 500px;
}

.desi-logo {
    width: 50%;
    height: 50%;
    background-color: #a2d39b;
    border: 10px solid #d0e9cd;
    position: relative;
}

.desi-logo img {
    width: 50%;
    filter: invert(1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.asu-logo {
    width: 50%;
    height: 50%;
    background-color: #61082b;
    position: relative;
}

.asu-logo img {
    width: 50%;
    filter: invert(1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.florida-logo {
    width: 50%;
    height: 50%;
    background-color: #0093ce;
    position: relative;
}

.florida-logo img {
    width: 50%;
    filter: invert(1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topps-logo {
    width: 50%;
    height: 50%;
    background-color: red;
    position: relative;
}

.topps-logo img {
    width: 50%;
    filter: invert(1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* team mid */

.teams-mid {
    width: 40%;
    height: 100%;
    background-color: #f5f5f5;
}

.logo-mid {
    width: 100%;
    margin: 50px 0 0 50px;
}

.logo-mid img {
    width: 25%;
}

.teams-mid hr {
    width: 10%;
    margin-left: 50px;
}

.teams-mid-txt {
    width: 90%;
    margin: 0 auto;
}

.teams-mid-txt p {
    font-weight: 600;
    margin-bottom: 40px;
}

/* left logo */

.teams-logo {
    width: 30%;
    height: 500px;
}

.wbr-logo {
    width: 50%;
    height: 50%;
    background-color: red;
    position: relative;
}

.wbr-logo img {
    width: 50%;
    filter: invert(1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hearst-logo {
    width: 50%;
    height: 50%;
    background-color: #b4d0e7;
    position: relative;
}

.hearst-logo img {
    width: 50%;
    filter: invert(1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loney-logo {
    width: 50%;
    height: 50%;
    background-color: #0d2481;
    position: relative;
}

.loney-logo img {
    width: 50%;
    filter: invert(1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clearchannel-logo {
    width: 50%;
    height: 50%;
    background-color: #ffd830;
    position: relative;
}

.clearchannel-logo img {
    width: 50%;
    filter: invert(1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ultima sezione business */

.container-big-business {
    background-color: #b4d0e7;
    height: 300px;
    width: 100%;
    padding: 100px 0;
    margin-bottom: 100px;
}

.container-big-business h1 {
    color: #61082b;
    text-align: left;
    font-size: 38px;
    font-weight: 700;
}

.button-business {
    margin-top: 40px;
    margin-top: 10px;
    width: 25%;
}

.button-business a {
    text-decoration: none;
    color: black;
    padding: 10px 50px;
    background-color: white;
    font-weight: 600;
}

/* fine parte business */

/* inizio parte FAQ */

.question {
    width: 100%;
    height: auto;
    padding: 30px 0;
}

.border-top {
    width: 100%;
    border-top: 1px solid #dcdcde;
}

.border-bot {
    width: 100%;
    border-bottom: 1px solid #dcdcde;
}

.container-team h1 {
    margin-bottom: 50px;
}

.question-txt {
    width: 60%;
}

.dropdown {
    width: 10%;
    text-align: center;
}

.dropdown img {
    width: 15px;
    height: 15px;
}

.question p {
    display: none;
}

.question:hover p {
    display: block;
}

/* / sezione FAQ */

/* inzio footer */

.container-big-footer {
    width: 100%;
    height: auto;
    background-color: black;
    padding-top: 100px;
}

.lista-foot {
    width: 20%;
}

.lista-foot h2 {
    margin-bottom: 30px;
    color: white;
    font-weight: 800;
}

.lista-foot li {
    list-style-type: none;
    line-height: 30px;
}

.lista-foot a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.globe {
    width: 10%;
    border-top: 1px solid #bfbfbf;
    margin-top: 80px;
    padding: 50px 0;
    color: grey;
    font-size: 14px;
}

.globe img {
    filter: invert(1);
    width: 15px;
    height: 15px;
    opacity: 0.5;
}

svg {
    width: 15px;
    height: 15px;
}