* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Open Sans, Verdana, Geneva, Tahoma, sans-serif;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

/* header */

header {
    height: 100px;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 3;
}

nav {
    height: 100%;
    line-height: 100px;
    text-align: center;
}

.nav-left li {
    list-style-type: none;
    display: inline;
    margin-right: 30px;
}

.nav-right li {
    list-style-type: none;
    display: inline;
    margin-right: 30px;
}

.button-nav {
    background-color: #0061ff;
    color: white;
    padding: 5px 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

/* jumbo */

.jumbo {
    width: 100%;
    height: 800px;
    background-color: #b4d0e7;
    position: relative;
}

.container-jumbo {
    width: 90%;
    height: 700px;
    margin: 50px auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.jumbo h1 {
    font-size: 95px;
    font-weight: 700;
}

.jumbo p {
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.jumbo-img {
    width: 70%;
}

.jumbo-img img {
    width: 80%;
    margin-top: 30px;
    margin-left: 100px;
}

.button-jumbo {
    background-color: #0061ff;
    color: white;
    padding: 5px 20px;
}

.jumbo a {
    text-decoration: none;
}

#paragraph-down {
    font-size: 13px;
    margin: 10px 0;
}

.arrow img {
    height: 50px;
    height: 50px;
    margin-top: 30px;
}

/* abbonamenti */

.container-abbonamenti {
    margin: 0 auto;
    width: 70%;
    height: 1500px;
}

.container-abbonamenti h1 {
    font-size: 40px;
    font-weight: 700;
    margin-top: 250px;
}

.radio-button {
    margin-top: 50px;
    font-weight: 600;
}

.radio-button label {
    margin-right: 20px;
}

.piani-abbonamenti {
    width: 100%;
    height: auto;
    margin-top: 40px;
}

.col-style {
    width: 30%;
    height: 1100px;
    border: 1px solid grey;
}

.top-col {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid grey;
}

.top-col img {
   width: 20px;
   height: 20px;
}

.top-col span {
    font-weight: 600;
}

.container-colonna {
    width: 90%;
    margin: 40px auto;
}

.container-colonna h2 {
    font-size: 28px;
    font-weight: 700;
}

.container-colonna h3 {
    margin: 10px 0;
    font-size: 16px;
    font-weight: 800;
}

.container-colonna p {
    color: gray;
    font-weight: 600;
    margin-bottom: 50px;
}

.details img {
    width: 15px;
    height: 15px;
}

.details {
    margin-bottom: 30px;
}

.details span {
    font-weight: 600;
    text-align: left;
}

.icone {
    width: 5%;
}

.icone-dettaglio {
    width: 95%;
}

.button-col {
    background-color: #0061ff;
    color: white;
    padding: 10px 90px;
}

.container-colonna a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.prova-gratis {
    margin: 40px auto;
    text-align: center;
}

.link-acquisto {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 40px;
}

.link-acquisto a {
    color: #0061ff;
    text-decoration: underline;
}

hr {
    width: 15%;
    opacity: 0.5;
    margin-bottom: 50px;
}

.container-colonna li {
    font-size: 14px;
    font-weight: 600;
    list-style-type: none;
    margin-bottom: 40px;
}

.container-colonna ul {
    margin-top: 30px;
}

.container-colonna ul span {
    color: #0061ff;
    font-weight: 600;
}

/* seconda colonna */

.col-mid {
    margin: 0 5%;
}

/* enterprise */

.enterprise {
    width: 100%;
    height: 300px;
    border: 1px solid gray;
    margin-top: 50px;
}

.enterprise .container-colonna {
    position: relative;
}

.top-enterprise {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid grey;
}

.top-enterprise img {
    width: 20px;
    height: 20px;
 }
 
 .top-enterprise span {
     font-weight: 600;
 }

 .enterprise .container-colonna h2 {
    font-size: 28px;
    font-weight: 700;
 }

 .enterprise .container-colonna h3 {
    font-size: 16px;
    font-weight: 800;
    margin: 30px 0 50px 0;
}

.enterprise .container-colonna p {
    font-size: 14px;
    color: black;
    font-weight: 600;
}

.button-entreprise, .button-col {
    position: absolute;
    top: 0px;
    right: 0px;
}